{% extends "base.html.twig" %}

{% block title %}Área del usuario - Concesionario{% endblock %}

{% block body01 %}
<h1 class="h1_vehiculo">Área del usuario</h1>
<p><a href="{{asset("/registro")}}">Crear usuario</a></p>
<p><a href="{{asset("/crearVehiculo")}}">Añadir vehiculo</a></p>
{% endblock %}
