.h1_vehiculo{
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.h3_vehiculo{
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.img_vehiculo{
  float: right;
}
/*p*/
.p_vehiculo{
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

.p_vehiculo strong{
  font-weight: bold;
}

.p_normal{
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

.elementoLista{
  padding: 1px 0 1px 0;
}

.enlaceNormal{
  text-decoration: underline;
}

li .enlaceLista{
  padding: 0 10px 0 10px;
  text-decoration: underline;
}
